In [1]:
import numpy as np
import pandas as pd

dataSet=pd.read_csv("Video_Game_Sales_as_of_Jan_2017.csv")
# dropping irrelevant columns
drop_cols=['Name','Publisher','Critic_Score','Critic_Count','User_Score','User_Count','Rating']
dataSet=dataSet.drop(drop_cols,axis=1)

In [2]:
#handling missing values
dataSet.isnull().sum()#checking null values for the columns
dataSet=dataSet.dropna()
dataSet.Year_of_Release=dataSet['Year_of_Release'].astype(int)

In [3]:
#managing categorical data
print("Different data types\n{}".format(dataSet.dtypes.value_counts()))

Different data types
float64    5
object     2
int32      1
dtype: int64

In [4]:
object_type=dataSet.select_dtypes(include=['object'])
print(object_type.iloc[0])

Platform       Wii
Genre       Sports
Name: 0, dtype: object

In [5]:
cols = ['Platform', 'Genre']
for name in cols:
    print(name,':')
    print(object_type[name].value_counts(),'\n')

Platform :
DS      2249
PS2     2206
PS3     1362
Wii     1357
PSP     1302
X360    1297
PS      1200
PC      1128
GBA      844
X        833
GC       563
3DS      553
PSV      502
PS4      424
N64      319
XOne     264
SNES     239
SAT      173
WiiU     153
2600     133
NES       98
G         98
DC        52
GEN       27
NG        12
WS         7
SCD        6
3DO        3
TG16       2
PCFX       1
GG         1
Name: Platform, dtype: int64

Genre :
Action          3500
Sports          2407
Misc            1812
Role-Playing    1545
Adventure       1478
Shooter         1348
Racing          1281
Simulation       924
Platform         900
Fighting         864
Strategy         734
Puzzle           615
Name: Genre, dtype: int64

In [6]:
#trying to remove rows below a certain count
platforms=['GG','PCFX','NG','WS','SCD','3DO','TG16']
for x in platforms:
    index_platform=dataSet[(dataSet['Platform']==x)].index
    dataSet.drop(index_platform,inplace=True)

In [24]:
#calculate average
avg_cal=dataSet[['NA_Sales','EU_Sales','JP_Sales','Other_Sales','Global_Sales']]
dataSet['Average']=avg_cal.mean(axis=1)

In [8]:
#converting Genre to numeric values
mapping_dict={"Genre":{
    "Action":0,
    "Sports":1,
    "Misc":2,
    "Role-Playing":3,
    "Adventure":4,
    "Shooter":5,
    "Racing":6,
    "Simulation":7,
    "Platform":8,
    "Fighting":9,
    "Strategy":10,
    "Puzzle":11
}}
dataSet=dataSet.replace(mapping_dict)

# adding dummy value then dropping the original column
dummy_df=pd.get_dummies(dataSet['Platform'])
dataSet=pd.concat([dataSet, dummy_df], axis=1)
dataSet=dataSet.drop('Platform', axis=1)

In [25]:
dataSet.to_csv("cleanedData.csv",index=False)
dataSet.tail()

,Year_of_Release,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,2600,3DS,DC,...,PSP,PSV,SAT,SNES,Wii,WiiU,X,X360,XOne,Average
17411,2007,4,0.0,0.0,0.00,0.0,0.01,0,0,0,...,0,0,0,0,0,0,0,0,0,0.002
17412,2007,7,0.0,0.0,0.00,0.0,0.01,0,0,0,...,0,0,0,0,0,0,0,0,0,0.002
17413,2002,9,0.0,0.0,0.01,0.0,0.01,0,0,0,...,0,0,0,0,0,0,0,0,0,0.004
17414,2009,4,0.0,0.0,0.01,0.0,0.01,0,0,0,...,0,0,0,0,0,0,0,0,0,0.004
17415,2007,1,0.0,0.0,0.00,0.0,0.01,0,0,0,...,1,0,0,0,0,0,0,0,0,0.002