In [16]:
import numpy as np
import pandas as pd

dataSet=pd.read_csv("Data/Video_Game_Sales_as_of_Jan_2017.csv")

# dropping irrelevant columns
drop_cols=['Name','Publisher','Critic_Score','Critic_Count','User_Score','User_Count','Rating']
dataSet=dataSet.drop(drop_cols,axis=1)
dataSet.head()

,Platform,Year_of_Release,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,82.54
1,NES,1985.0,Platform,29.08,3.58,6.81,0.77,40.24
2,Wii,2008.0,Racing,15.68,12.80,3.79,3.29,35.57
3,Wii,2009.0,Sports,15.61,10.95,3.28,2.95,32.78
4,G,1996.0,Role-Playing,11.27,8.89,10.22,1.00,31.37

In [4]:
#handling missing values
dataSet.isnull().sum()#checking null values for the columns
dataSet=dataSet.dropna()
dataSet['Year_of_Release']=dataSet['Year_of_Release'].astype(int)

In [5]:
#managing categorical data
print("Different data types\n{}".format(dataSet.dtypes.value_counts()))

Different data types
float64    5
object     2
int32      1
dtype: int64

In [6]:
object_type=dataSet.select_dtypes(include=['object'])
print(object_type.iloc[0])

Platform       Wii
Genre       Sports
Name: 0, dtype: object

In [7]:
cols = ['Platform', 'Genre']
for name in cols:
    print(name,':')
    print(object_type[name].value_counts(),'\n')

Platform :
DS      2249
PS2     2206
PS3     1362
Wii     1357
PSP     1302
X360    1297
PS      1200
PC      1128
GBA      844
X        833
GC       563
3DS      553
PSV      502
PS4      424
N64      319
XOne     264
SNES     239
SAT      173
WiiU     153
2600     133
G         98
NES       98
DC        52
GEN       27
NG        12
WS         7
SCD        6
3DO        3
TG16       2
GG         1
PCFX       1
Name: Platform, dtype: int64

Genre :
Action          3500
Sports          2407
Misc            1812
Role-Playing    1545
Adventure       1478
Shooter         1348
Racing          1281
Simulation       924
Platform         900
Fighting         864
Strategy         734
Puzzle           615
Name: Genre, dtype: int64

In [8]:
#trying to remove rows below a certain count
platforms=['GG','PCFX','NG','WS','SCD','3DO','TG16']
for x in platforms:
    index_platform=dataSet[(dataSet['Platform']==x)].index
    dataSet.drop(index_platform,inplace=True)

In [9]:
#calculate average
avg_cal=dataSet[['NA_Sales','EU_Sales','JP_Sales','Other_Sales','Global_Sales']]
dataSet['Average']=avg_cal.mean(axis=1)

In [10]:
#converting Genre to numeric values
mapping_dict={"Genre":{
    "Action":0,
    "Sports":1,
    "Misc":2,
    "Role-Playing":3,
    "Adventure":4,
    "Shooter":5,
    "Racing":6,
    "Simulation":7,
    "Platform":8,
    "Fighting":9,
    "Strategy":10,
    "Puzzle":11
}}
dataSet=dataSet.replace(mapping_dict)

# adding dummy value then dropping the original column
dummy_df=pd.get_dummies(dataSet['Platform'])
dataSet=pd.concat([dataSet, dummy_df], axis=1)
dataSet=dataSet.drop('Platform', axis=1)

In [11]:
#remove rows with low sales only average

index = dataSet[(dataSet['Average'])<1].index
dataSet.drop(index, inplace=True)

In [13]:
#Get separate csv dataset for each genre
Genres = ['Action', 'Sports', 'Misc', 'Role-Playing', 'Adventure', 'Shooter', 'Racing', 'Simulation', 'Platform', 'Fighting', 'Strategy', 'Puzzle']
for x in range(12):
    name = "Data/CleanedData"+Genres[x]+".csv"
    Data = dataSet[(dataSet['Genre']==x)]
    Data.to_csv(name, index=False)

In [17]:
dataSet.to_csv("Data/cleanedData.csv",index=False)
len(dataSet[(dataSet['Genre']==10)])

0